/*-----------------------------------------------------------

------------------------GENERAL STYLES

------------------------------------------------------------*/

* {
	background-color: #282828;
	color: white;
	text-align: center;
}

ul {
	list-style: none;
}

ul, 
li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

html {
	height: 100%;
}

/*-----------------------------------------------------------

------------------------HEADING

For small screens, shift headline to stay inline with Minerva img, 
creating a top-left nav frame.

------------------------------------------------------------*/

.audio-head {
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 2.3em;
	letter-spacing: 1px;
}

#Minerva {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

/*-----------------------------------------------------------

------------------------NAVIGATION

------------------------------------------------------------*/

.audio-nav {
	margin-left: -13.5px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.audio-nav li {
	font-size: 1.3em;
	border-radius: 10px;
	padding: 10px;
}

.audio-nav li:not(:first-child) {
	margin-left: 10px;
	background-color: #ad0000;
	box-shadow: -3px 4px 2px #000000;
}

.audio-nav li a {
	font-family: 'Droid Serif', serif;
}

/*-----------------------------------------------------------

------------------------RECORDINGS

------------------------------------------------------------*/

ul.recordings {
	display: table;
	margin: 0 auto;
	/*max-width: 80%;*/
}

.recordings li {
	border-style: solid;
	min-height: 175px;
}


/*.recordings li > h2,
.recordings li > img {
	vertical-align: middle;
}*/

/*-----------------------------------------------------------

------------------------FOOTER

Add social media icons: Facebook, Youtube, Google+, etc;

------------------------------------------------------------*/

.main-foot {
	margin-top: 20px;
	/*margin-right: 10px;
	/*margin-left: 32px;*/
	
	text-align: center;
	/*display: flex;
	flex-direction: row;
	align-items: center;*/
}

.check-it {
	letter-spacing: 0.5px;
	font-family: 'Droid Sans', sans-serif;
}

#icon {
	align-content: center;
	margin-top: 20px;
}


.icon {
	width: 60px;
	height: 60px;
}

.google,
.youtube {
	margin-left: 5px;
}

/*-----------------------------------------------------------

------------------------MEDIA QUERIES

------------------------------------------------------------*/

/* Nav breaks awkward at ~535px, switch to small column sidebar */
/*@media (max-width: 535px) {
	.audio-nav {
		max-width: 90px;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 0;
		position: absolute;
		top: 14px;
		left: -40px;
		z-index: 1;
		border-style: solid;
	}

	.audio-nav li:not(:first-child) {
		margin-top: 5px;
		width: 10px;
	}
}*/






