/*-----------------------------------------------------------

------------------------GENERAL STYLES

NOTE: Use Serif fonts for headlines w/ black background, and Sans-serif for text;
*Switched red color from #e50000 to #ad0000, true UofL red.*
*Original background color: #282828*

------------------------------------------------------------*/
/*  All items: bkgd charcoal.
  	All text: color white.
  	All font: Droid Sans.  */
* {
	background-color: #272828;
	color: #EEEEEE;
	font-family: 'Droid Sans', sans-serif;
}

/* All list items: no bullets */
ul {
	list-style: none;
}

/* All links: no underline */
a {
	text-decoration: none;
}

/*-----------------------------------------------------------

------------------------LAYOUT PROPERTIES

------------------------------------------------------------*/

/*	All body: no margin.
	All body: content center. */
body {
	margin: 0;
	align-content: center;
}

/* All header: auto(centered) margin */
header {
	margin: 0 auto;
}

/*-----------------------------------------------------------

------------------------HEADING

Need to work out issues with headline presentation.
Work on issues with border below heading.

------------------------------------------------------------*/

.headline {
	text-align: center;
	font-family: 'PT Serif', serif;
	letter-spacing: 1px;
}

/* University of Louisville */
.head-one {
	margin-top: 25px;
	margin-right: 5px;
	font-size: 2.3em;
}

/* School of Music */
.head-two {
	font-size: 2.2em;
}

/* Classical Guitar Program */
.head-three {
	font-size: 2em;
	padding-bottom: 23px;
	/*border-bottom-style: solid;
	border-width: 1px;
	border-color: #ad0000;*/
}

#Minerva {
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

/*-----------------------------------------------------------

------------------------NAVIGATION

	3D box shadow for white page
	box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4)

------------------------------------------------------------*/

header {
	max-width: 90%;
}

.nav-bar {
	text-align: center;
	font-size: 1.5em;
	margin-top: 30px;
	/* Correct nested list items indentation. */
	margin-right: 40px;
}

.nav-bar li a {
	font-family: 'Droid Serif', serif;
	font-weight: bold;
	padding: 30px;
}

.nav-bar li:not(:first-child) {
	padding: 12px;
	border-radius: 12px;
	background-color: #ad0000;

	box-shadow: -3px 4px 2px #000000;
}

/*
.nav-bar li a {
	text-decoration: none;
	font-size: 1.5em;
	background: linear-gradient( #cc4700, #561515);
	margin-top: 1px;
	margin-left: 10px;
	padding: 10px;
}
*/
/*-----------------------------------------------------------

------------------------COLUMNS

------------------------------------------------------------*/

#coverIMG {
	width: 82%;
	max-width: 941px;
	max-height: 500px;
/*	height: 38vh;
	min-height: 290px; */
	margin: 0 auto;
	text-align: center;


/*	 background-image: url("../Img/Class Guitar Bkgd.jpg");
	background-repeat: no-repeat; */
}

#studioPortrait {
	max-width: 100%;
	max-height: 100%;
	border-style: solid;
	border-color: #EEEEEE;
/*	border-color: #e50000;
    border-width: 5px;	*/
	border-radius: 10px;
	box-sizing: border-box;

}

.intro-main {
	font-family: 'Droid Serif', serif;
	letter-spacing: 0.75px;
}

.par-one {
	letter-spacing: 1px;
}

.col-one {
	margin: 0 auto;
	width: 85%;
	max-width: 941px;
	/*margin-left: 32px;
	margin-right: 20px;*/
}

/*-----------------------------------------------------------

------------------------FOOTER

Add social media icons: Facebook, Youtube, Google+, etc;

------------------------------------------------------------*/

.main-foot {
	margin-top: 20px;
	margin-right: 10px;
	/*margin-left: 32px;*/
	
	text-align: center;
	/*display: flex;
	flex-direction: row;
	align-items: center;*/
}

.check-it {
	letter-spacing: 0.5px;
}

#icon {
	align-content: center;
	margin-top: 20px;
	margin-right: 30px;
}


.icon {
	width: 55px;
	height: 55px;
}

.google,
.youtube {
	margin-left: 5px;
}

/*-----------------------------------------------------------

------------------------MEDIA QUERIES

Add new queries to get top two headlines in-line on appropriate screen size.

------------------------------------------------------------*/

/* Display nav as list column for small screens */
@media (max-width: 545px) {
	.nav-bar li:not(:first-child) {
		margin-top: 9px; 
	}

	#Minerva {
		margin-bottom: 10px;
	}
}

/* Display nav as flexible row for standard screens*/
@media (min-width: 545px) {
	.nav-bar {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		margin-top: -15px;
		margin-right: 55px

	}

	.nav-bar li {
		margin-left: 10px;
	}

	.nav-bar li a {
		margin-top: 1px;
		padding: 10px;
	}
}

/* Margin for coverIMG on small screens */
@media (max-width: 659px) {
	#coverIMG {
		margin: 27px auto 0;
	}
}

/* Correct margin issues as nav bar unfolds*/
@media (min-width: 765px) {
	.photo-intro {
		margin-top: -10px;
	}	
}

/* Applies to 850px and above */
@media (min-width: 850px) {
/* Unfold headlines on bigger screens */
	#headerLine {
		display: flex;
		justify-content: center;
		align-items: center;
	/* Correct margin issues from default code */
		margin-bottom: -20px;
	}

	.head-one {

	}

	.head-two {
	/* Provide spacing between top two headlines */
		margin-left: 15px;
		padding-left: 17px;
	/* Provide consistency between headlines sizes */
		font-size: 2.3em;
		border-left-style: solid;
		border-color: black;
		border-width: 5px;
	}
}

/* Pull out header to fill horizontal div on larger screens */
@media (min-width: 1300px) {
	#headWrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		border-bottom-style: solid;
	}

	.photo-intro {
		margin-top: 40px;
	}

	#headliner {
		margin-left: -50px;
	}

	.headline {
		text-align: left;
	}

	nav {
		margin-top: -50px;
		margin-right: -90px;
	}
}






